$font-stack: 'Poppins', sans-serif;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: $font-stack;
}

main {
    flex: 2;
}

section {
    max-width: 600px;
    margin: 50px auto;
}

h1, h2, h3 {
    font-family: $font-stack;
    margin-bottom: 10px;
}

h1 {
    font-size: 2em;
    font-weight: 600;
}

h2 {
    font-size: 1.3em;
    font-weight: 600;
}

h3 {
    font-size: 1.3em;
    font-weight: 500;
}