$font-stack: 'Poppins', sans-serif;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font: $font-stack;
}

main {
    flex: 2;
}

section {
    max-width: 600px;
    margin: 50px auto;
}