body {
    background: #fffff8;
    font-family: "Poppins", sans-serif;
    margin: 0;
    max-width: 100%;
  }
  h1 {
    font-size: 5rem;
    margin-top: 0;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  
  #app {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #000;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    width: 100%;
    padding: 10% 0;
    .main-headline {
      color: #710193;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-right: 5%;
    }
    .interaction {
      .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        #city {
          margin-bottom: 1rem;
          text-align: center;
        }
        #date {
          text-align: center;
        }
        label {
          display: block;
          font-size: 1.5rem;
        }
        input {
          display: block;
          height: 3rem;
          width: 25rem;
          background: #ffffffcc;
          color: #000;
          border: 2px solid #000;
          font-size: 1.25rem;
          font-family: "Poppins", sans-serif;
          border-radius: 8px;
          border: 1.5px solid #000;
          ::placeholder {
            color: #ccc;
          }
          :focus::placeholder {
            color: transparent;
          }
        }
        button {
          margin-top: 1rem;
          width: 8rem;
          height: 3rem;
          background: #710193;
          color: white;
          font-size: 1.25rem;
          font-family: "Poppins", sans-serif;
          border: none;
          box-shadow: 2px 4px 5px #444;
          border: 0;
          border-radius: 8px;
          cursor: pointer;
          :hover {
          color: #710193;
          background: #fff;
          }
        }
      }
    }
  }

  #entryHolder {
    padding: 1rem;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 60px;
    border: #ccc solid 2px;
    border-radius: 30px;
    box-shadow: 2px 4px 5px #ccc;
    width: 80%;
    h2 {
      text-align: center;
    }
    p {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 1.5rem;
      margin: 0;
    }
    #city-image {
      width: 50%;
    }
    #content {
      margin-top: 1rem;
      margin-bottom: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      background: #710193;
      color: #fff;
      padding-left: 20px;
      border-radius: 30px;
      #icon {
        width: 2.5rem;
      }
      #content-text {
        padding-right: 1rem;
      }
    }
  }

   /* Style for Placeholder Text*/
   ::placeholder {
    /* Firefox, Chrome, Opera */
    color: #ccc;
    font-family: "Poppins", sans-serif;
  }
  
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ccc;
    font-family: "Poppins", sans-serif;
  }
  
  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ccc;
    font-family: "Poppins", sans-serif;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #710193;
    color: #fff;
    max-width: 100%;
    padding: 60px;
    margin: 0 auto;
  }
  
  @media only screen and (max-width: 800px) {
    body {
      #app {
        flex-direction: column;
        .interaction {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 100vw;
          input {
            width: 100%;
          }
        }
        .main-headline {
          width: 100%;
          padding: 0;
          font-size: 4rem;
        }
        #icon {
          width: 2.5rem;
        }
        #content-text {
          padding-right: 0;
        }
      }
      #entryHolder {
        h2 { font-size: 2rem;
        }
      }
    }
  }