<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evaluate News Article</title>
</head>

<body>
    <div class="container">
        <form id="myForm" method="post" onsubmit="return Client.handleSubmit(event)">
            <label for="URI">Enter an Article URL:</label>
            <input type="text" id="URI" name="URI" />
            <button type="submit" value="Analyze">Analyze</button>
        </form>
    </div>
    <div id="error" style="display: none;"></div>
    <div id="results">
        <h2>Results:</h2>
        <div id="loader" style="display: none;"></div>

        <ul id="resultsList">
            <li id="polarity"></li>
            <li id="subjectivity"></li>
        </ul>
    </div>
</body>

</html>